{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
    <div class="container-fluid">
        <h1>Our Pizzas</h1>
        <div class="container-fluid">
            <div class="row justify-content-center">

                {%  for pizza in pizzas %}
                <div class="col-sm-12 col-md-9 col-lg-6 col-xl-3 col-xxl-3 col-xxxl-2 m-2">
                    <div class="card text-center">
                        <div class="card-header">
                            {{ pizza.name }}
                        </div>
                        <div class="card-body">
                            <img src="{{ pizza.image.url }}" class="card-img-top" alt="Pizza"/>
                            <span class="p-2 rounded-pill bg-warning">{{ pizza.price }}€</span>
                            <p class="my-3 card-text back">{{ pizza.description }}</p>
                            <div class="row">
                                <div class="col-6">
                                    <a href="#" class="btn btn-primary">Personalizar</a>
                                </div>
                                <div class="col-6">
                                    <a href="#" class="btn btn-primary">Al carro</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}